.casas-container{
  font-family: "Montserrat";
  padding: 20px;
  margin: auto;
  width: 60vw;

  h2 {
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(246, 247, 242);
  }

  p {
    font-size: 20px;
    padding: 10px;
  }
}
