* {
  margin: 0;
}

.container{
  text-align: center;
  margin: auto;
  width: 80vw;
  h2 {
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(246, 247, 242);
  }

  p {
    font-size: 20px;
    padding: 10px;
  }
}

.silbadores{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
