.testimonios-container{
  width: 100vw;
  margin: auto;
  height: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/IMG-20210814-WA0036-1024x576.jpg");
  background-size: cover;
}
